# APP
PORT=8000

# DB
DATABASE_URL="postgresql://postgres:admin@localhost:6543/postgres"

#MAIL
MAIL_USER=
MAIL_PASS=
MAIL_LOGO_URL=

#JWT
JWT_VERIFY_SECRET=
JWT_SECRET=
JWT_SECRET_REFRESH=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BASE_FE_URL=
