NODE_ENV=
RAILPACK_BUILD_CMD=npx prisma migrate deploy && npx prisma generate && npm run build
RAILPACK_START_CMD=npm run start
VITE_API_URL=


# APP
PORT=8000

# DB
DATABASE_URL=

#MAIL
MAIL_USER=
MAIL_PASS=
MAIL_LOGO_URL=
#JWT

JWT_VERIFY_SECRET=
JWT_SECRET=
JWT_SECRET_REFRESH=
JWT_SECRET_RESET=
JWT_SECRET_EMAIL=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BASE_URL_FE=
XENDIT_TEST_URL=

#XENDITR
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=